.topTitle {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 6rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.section1,
.section2,
.section3,
.formSection {
  padding: 80px 20px;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.image {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 4px gainsboro;
}

.description {
}

.section2 {
  background-color: #4527a0;
  color: white;
}

.formSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  background-color: #4527a0;
  color: white;
}

.urlField {
  width: 100%;
  background-color: white;
}

.loginButton {
  margin-top: 50px;
  color: #4527a0;
  background-color: gainsboro;
  font-weight: 600;
}

.alreadyLoginBlock {
  margin-top: 40px;
}

.alreadyLoginLink {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

@media (max-width: 640px) {
  .topTitle {
    margin-bottom: 0px;
    font-size: 2rem;
    line-height: 4rem;
  }
}
