.loadingContainer {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.content {
  padding: 0px 50px;
}

.scrollTopButton {
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.topPageNavContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}

.bottomPageNavContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 70px 0;
}

@media (max-width: 640px) {
  .content {
    padding: 0;
  }
}
