.loadingContainer {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.content {
  padding: 0px 50px;
  margin-bottom: 100px;
}

.listArea {
  margin: 30px 0 40px 0;
}

.scrollTopButton {
  position: fixed !important;
  bottom: 30px;
  right: 30px;
}

.topPageNavContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.bottomPageNavContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noContent {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 640px) {
  .content {
    padding: 0;
  }
}
